<h1><%= t ".heading" %></h1>

<%= label_tag :active_pattern, t(".active_pattern") %>
<%= select_tag :active_pattern, options_from_collection_for_select(@railpatterns, :id, :name_with_cost) %>

<p><%= t ".passive_patterns" %></p>
<table id="passive_patterns">
  <thead>
    <tr>
      <th><%= Railpattern.human_attribute_name(:name) %></th>
      <th></th>
      <th><%= Railpattern.human_attribute_name(:cost) %></th>
      <th><%= t ".formular.passive_factor" %></th>
    </tr>
  </thead>
<% @railpatterns.each do |railpattern| %>
  <tr>
    <td>
      <%= label_tag "passive_patterns[#{railpattern.id}]", :class => 'tooltip' do %>
        <em><%= railpattern.name %></em>
        <%= tooltip_markup railpattern.desc %>
      <% end %>
    </td>
    <td><%= check_box_tag "passive_patterns[#{railpattern.id}]", 1, false, :data => {id: railpattern.id} %></td>
    <td><%= number_with_delimiter railpattern.cost %></td>
    <td><%= railpattern.passive_factor %></td>
  </tr>
<% end %>
</table>

<%= field_set_tag t(".ability"), :id => 'abilities' do %>
  <% @abilities.each do |id| %>
    <%= label_tag "ability_#{id}", t(".abilities.a_#{id}") %>
    <%= number_field_tag "ability_#{id}", 0, :min => 0, :data => {id: id}, :class => "ability_stage" %>
  <% end %>
<% end %>

<%= button_tag t(".calc"), :id => 'calc_railpattern_chance' %>
<p id="formular">
  <math id="railpattern_chance_formular" display="block">
    <mi><%= t ".formular.chance" %></mi> <mo>=</mo>
    <mi><%= t(".formular.ceil") %></mi>
    (<mn>100</mn> <mo>*</mo> 
     <mi><%= t(".formular.active_factor") %></mi> <mo>*</mo>
     <mi><%= t(".formular.passive_factor") %></mi> <mo>*</mo>
     <mi><%= t(".formular.chara_factor") %></mi>) 
  </math>
  <math id="railpattern_active_factor" display="block">
    <mi><%= t(".formular.active_factor") %></mi> <mo>=</mo>
    <mi><%= t(".formular.active_cost") %> <mo>/</mo>
    <mn>10000</mn>
  </math>
  <math id="railpattern_passive_factor" display="block">
    <mi><%= t(".formular.passive_factor") %></mi> <mo>=</mo>
    <msup>
      <mn>0.95</mn>
      <mrow>
        <mi><%= t(".formular.active_cost") %></mi>
        <mo>/</mo>
        <mn>125</mn>
      </mrow>
    </msup>
  </math>
  <math display="block">
    <mi><%= t(".formular.chara_factor") %></mi> <mo>=</mo>
    <mi><%= t(".formular.chara_factor_formular") %></mi> 
  </math>
</p>

<h2><%= t ".chances" %></h2>
<ul id="chances">
  
</ul>

<script type="text/javascript">
  var railpatterns =  <%= @railpatterns.to_json(only: [:id, :name, :cost, :type]).html_safe %>;
</script>