<h2><%= t ".modes.human" %></h1>
<%= link_to t(".modes.world"), 
            graphs_achievements_url(:mode => 'world'),
            :class => 'mode' %>
<%= link_to t(".modes.user"), 
            graphs_achievements_url(:mode => 'user'),
            :class => 'mode' %>
            
<% unless params[:mode].blank? %>
  <h2><%= t ".heading" %></h2>
  <%= form_tag(url_for(:mode => params[:mode]), :method => 'POST', :id => 'achievement_graph') do %>
  
  <%= field_set_tag t(".data.heading"), :id => 'data' do %>
  <%= label_tag 'achievement', t(".achievement") %>
  <%= select_tag 'achievement', 
                 options_from_collection_for_select(@achievements,
                                                    @achievement_identifier,
                                                    :group_name,
                                                    @data[:achievement])%>
  <%= 
    begin
      render :partial => "data_#{params[:mode]}"
    rescue ActionView::MissingTemplate
      t ".mode_not_found"
    end
  %>
  <% end %>
  
  <%= field_set_tag t("graphs.config.heading"), :id => 'config' do %>
    <%= render :partial => 'config' %>
  <% end %>
  
  <%= submit_tag t ".submit" %>
  <% end %>
  
  <% if @graph_ready %>
    <h2><%= t "graphs.graph_ready" %></h2>
    <% img_url = graph_img_url([@data, @config]) %>
    <%= image_tag img_url %>
    
    <details class="graph">
      <summary><%= t "graphs.summary" %></summary>
      <%= label_tag "img_url", t("graphs.img_url") %>
      <%= text_field_tag "img_url", img_url, :disabled => true %>
      
      <%= label_tag "graph_profile_code", t("graphs..graph_profile_code") %>
      <%= text_area_tag "graph_profile_code", graph_profile_code([@data, @config]), :disabled => true, :rows => 5 %>
    </details>
  <% end %>
<% end %>

