# encoding: utf-8
<h1>Erweiterungen</h1>
<h2>Einleitung</h2>
<p>Wenn du dein Spielerlebnis verbessern willst, kannst du direkt zum nächsten
Abschnitt springen. Für die Leute, die diese Erweiterungen verurteilen, empfehle
ich einen Blick in meinen Beitrag zum Thema
<%= link_to 'Userscripte in FreeWar', extensions_url(:action => 'about') %>.</p>

<h2>UI Overhaul?</h2>
<p>UI-Overhaul ist der englische Begriff für die Verbesserung der Benutzeroberfläche.
Ich werde keine Erweiterungen anbieten, die eine direkten Spielvorteil liefern,
wie zum Beispiel das bekannte Beutezauber-Skript. Ihr werdet hier aber auch definitiv
keine Erweiterungen finden, die Sponsorfunktionen kopieren. Das heißt allerdings
nicht, dass durch mangelnde Wartung hier Skripte auftauchen, die später eingebaute
Funktionen kopieren. Sollte euch sowas, auffallen könnt ihr mich gern 
<%= link_to 'kontaktieren', about_contact_url %></p>

<h2>Los gehts!</h2>
<p>Solltest du nicht wissen wie du die Erweiterungen einbindest, empfehle ich dir
vorher einen Blick in die <%= link_to 'Anleitung', extensions_url(:action => 'howto') %>
zu werfen.</p>
<p>Ansonsten kannst du dich direkt auf das 
<%= link_to 'Verzeichnis mit allen Erweiterungen', extensions_url(:action => 'list') %>
stürzen.</p>

<h2>Irgendwie mag mich die Erweiterung nicht...</h2>
<p><%= link_to 'Anleitung', extensions_url(:action => 'howto') %> gelesen? Hinweise 
zu der verwendeten Erweiterung beachtet? Dann ab zum 
<%= link_to 'Troubleshooting', extensions_url(:action => 'trouble') %>!</p>