<td>
  <% unless user.user.nil? %>
    <%= link_to user.user.name, user_url(user.user.name, user.world.short) %>
  <% else %>
    <del><%= user.user_id %></del>
  <% end %>
</td>
<td>
  <% if user.clan_id_old.eql?(0) %>
    <%= t ".noclan" %>
  <% elsif user.old_clan.nil? %>
    <del><%= user.clan_id_old %></del>
  <% else %>
    <%= link_to user.old_clan.tag, clan_url(user.old_clan.clan_id, user.world.short) %>
  <% end %>
</td>
<td>
  <% unless user.new_clan.nil? %>
    <%= link_to user.new_clan.tag, clan_url(user.new_clan.clan_id, user.world.short) %>
  <% else %>
    <del><%= user.clan_id_new %></del>
  <% end %>
</td>
<td><time datetime="<%= user.created_at %>"><%= l user.created_at, :format => :long %></time></td>
<td><%= user.world.name %></td>