<td>
  <% unless user.user.nil? %>
    <%= link_to user.user.name, user_url(user.user.name, user.world.short) %>
  <% else %>
    <del><%= user.user_id %></del>
  <% end %>
</td>
<td><%= user.old_race.name %></td>
<td><%= user.new_race.name %></td>
<td><time datetime="<%= user.created_at %>"><%= l user.created_at, :format => :long %></time></td>
<td><%= user.world.name %></td>