<h1><%= t "users.#{controller.action_name}.head" %></h1>
<p><%= t "users.common.worlds.change" %>:</p>
<ul class="worlds">
  <li>
    <%= link_to t("users.common.worlds.all") %>
  </li>
  <% @worlds_all.each do |world| %>
    <li>
      <%= link_to users_url(@params.merge(world: world.short)), 
            class: ["tooltip"] do %>
      <%= world.short %>
      <%= tooltip_markup content_tag(:strong, world.localized_name) %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @change_race.eql?(true) %>
  <p><%= t "users.common.races.change" %>:</p>
  <ul class="races">
    <li>
      <%= link_to t("users.common.races.all") %>
    </li>
    <% @races.each do |race| %>
      <li>
        <%= link_to users_url(@params.merge(page: 1, race: race.short)),
              class: ["tooltip"] do %> 
        <%= race.short %>
        <%= tooltip_markup content_tag(:strong, race.name) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_tag(users_url(:action => params[:action], :world => params[:world]), 
                       :class => ("suggest" if @suggest_limit > 0), 
                       :id=> 'search', :autocomplete => 'off') do 
%>
  <% unless @skipsearch %>
    <%= label_tag :name, User.human_attribute_name("name") %>
    <%= text_field_tag(:name, params[:name], tabindex: 1) %>
  <% end %>
  
  <% if @has_recording_period %>
    <%= label_tag :starttime, t("users.common.starttime") %>
    <%= date_field_tag :starttime, @params[:starttime], 
                       min: @hole_recording_period.begin, 
                       max: @hole_recording_period.end,
                       placeholder: @hole_recording_period.begin,
                       tabindex: 2 %>
  
    <%= label_tag :endtime, t("users.common.endtime") %>
    <%= date_field_tag :endtime, @params[:endtime], 
                       min: @hole_recording_period.begin, 
                       max: @hole_recording_period.end,
                       placeholder: @hole_recording_period.end,
                       tabindex: 3  %>
  <% end %>
  
  <%= submit_tag t "helpers.submit.search", tabindex: 4 %>
  <%= check_box_tag 'loading', 1, false, :disabled => true, :class => 'loading' %>
  <%= label_tag 'loading', loading_markup %>
<% end %>


<p id="recording_period">
  <% if @has_recording_period %>
    <strong><%= t "time.recording_period.caption" %></strong>
    <em><%= t "time.recording_period.from" %></em>
    <%= time_tag(@hole_recording_period.begin, format: :long) %>
    <em><%= t "time.recording_period.till" %></em>
    <%= time_tag(@hole_recording_period.end, format: :long) %>
  <% else %>
    <em><%= t "time.last_update" %></em>
    <%= time_tag @last_update %>
  <% end %>
</p>

<% #cache cache_key_for_users_index(@users), :unless => (params[:name] || params[:page] != 1) do %>
  <nav class="pages">
    <strong><%= t "helpers.nav.page" %></strong> 
    <%= nav_links = nav(@offset, @limit, @scope.size, method(:users_url)).join.html_safe %>
  </nav>

  <table class="users <%= ' single-world' if @worlds.length.eql?(1) %>">
    <caption>
      <%= @users.length %> 
      <%= t '.message' %>
      <%= @worlds.collect(&:short).to_sentence %>
    </caption>
    <thead>
      <tr>
        <% @attributes.each do |attr| %>
          <th class="<%= attr[:human] %>">
            <% if attr[:db] %>
              <%= link_to @scope.human_attribute_name(attr[:human]), 
                          users_url(@params.merge(order: attr[:human], by: @by, page: 1)),
                          :class => 'sort',
                          :title => t('helpers.links.sort', :col => @scope.human_attribute_name(attr[:human])) %>
            <% else %>
              <%=  @scope.human_attribute_name(attr[:human]) %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, i| %>
        <tr class="<%= if i % 2 == 0 then 'odd' else 'even' end %>">
          <%= render :partial => controller.action_name, :locals => {:user => user} %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <nav class="pages">
    <strong><%= t "helpers.nav.page" %></strong> 
    <%= nav_links %>
  </nav>
<% #end %>

<script type="text/javascript">
  var users_url = <%= users_url(action: params[:action], format: "json", name: "_name_").to_json.html_safe %>,
      user_url = <%= user_url('_name_', '_world_').to_json.html_safe %>,
      suggest_limit = <%= @suggest_limit %>,
      worlds = <%= @worlds.to_json(:only => [:id, :short]).html_safe %>;
</script>