<h1><%= t "users.#{controller.action_name}.head" %></h1>
<p><%= t "users.common.worlds.change" %>:</p>
<ul class="worlds">
  <li>
    <%= link_to t("users.common.worlds.all") %>
  </li>
  <% @worlds_all.each do |world| %>
    <li>
      <%= link_to users_url(@params.merge(world: world.short)), 
            class: ["tooltip"] do %>
      <%= world.short %>
      <%= tooltip_markup content_tag(:strong, world.localized_name) %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @change_race.eql?(true) %>
  <p><%= t "users.common.races.change" %>:</p>
  <ul class="races">
    <li>
      <%= link_to t("users.common.races.all") %>
    </li>
    <% @races.each do |race| %>
      <li>
        <%= link_to users_url(@params.merge(page: 1, race: race.short)),
              class: ["tooltip"] do %> 
        <%= race.short %>
        <%= tooltip_markup content_tag(:strong, race.name) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>


<% unless @skipsearch.eql?(true) %>
  <%= form_tag(users_url(:action => params[:action], :world => params[:world]), 
                         :class => ("suggest" if @suggest_limit > 0), 
                         :id=> 'search', :autocomplete => 'off') do 
  %>
    <%= label_tag :name, "#{User.human_attribute_name("name")}:" %>
    <%= text_field_tag(:name, params[:name]) %>
    <%= submit_tag t "helpers.submit.search" %>
  
    <%= check_box_tag 'loading', 1, false, :disabled => true, :class => 'loading' %>
    <%= label_tag 'loading', loading_markup %>
  <% end %>
<% end %>

<p id="last_update">
  <em><%= t "time.last_update" %></em>
  <%= time_tag @last_update %>
</p>

<% #cache cache_key_for_users_index(@users), :unless => (params[:name] || params[:page] != 1) do %>
  <nav class="pages">
    <strong><%= t "helpers.nav.page" %></strong> 
    <%= nav_links = nav(@offset, @limit, @model.count, method(:users_url)).join.html_safe %>
  </nav>

  <table class="users <%= ' single-world' if @worlds.count.eql?(1) %>">
    <caption>
      <%= @users.length %> 
      <%= t '.message' %>
      <%= raw @worlds.collect(&:short).to_sentence %>
    </caption>
    <thead>
      <tr>
        <% @attributes.each do |attr| %>
          <th class="<%= attr[:human] %>">
            <% if attr[:db] %>
              <%= link_to @model.human_attribute_name(attr[:human]), 
                          users_url(@params.merge(order: attr[:human], by: @by, page: 1)),
                          :class => 'sort',
                          :title => t('helpers.links.sort', :col => @model.human_attribute_name(attr[:human])) %>
            <% else %>
              <%=  @model.human_attribute_name(attr[:human]) %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, i| %>
        <tr class="<%= if i % 2 == 0 then 'odd' else 'even' end %>">
          <%= render :partial => controller.action_name, :locals => {:user => user} %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <nav class="pages">
    <strong><%= t "helpers.nav.page" %></strong> 
    <%= nav_links %>
  </nav>
<% #end %>

<script type="text/javascript">
  var users_url = <%= users_url(action: params[:action], format: "json", name: "_name_").to_json.html_safe %>,
      user_url = <%= user_url('_name_', '_world_').to_json.html_safe %>,
      suggest_limit = <%= @suggest_limit %>,
      worlds = <%= @worlds.to_json(:only => [:id, :short]).html_safe %>;
</script>