<td class="id"><%= clan.clan_id %></td>
<td class="tag">
  <%= tag_markup(Clan.new(:tag => clan.tag), 'del') %>
</td>
<td class="created_at">
  <time datetime="<%= clan.created_at %>"><%= l clan.created_at.to_date %></time>
</td>
<td class="world_id"><%= clan.world.short %></td>