<h1><%= t "clans.#{controller.action_name}.head" %></h1>
<p><%= t "clans.commons.change_world" %>:</p>
<ul class="worlds">
  <li><%= link_to t("clans.commons.all_worlds"), clans_url(:action => params[:action]) %></li>
  <% @worlds_all.each do |world| %>
    <li>
        <%= link_to clans_url(@params.merge(world: world.short)), 
              class: ["tooltip"] do %>
        <%= world.short %>
        <%= tooltip_markup content_tag(:strong, world.localized_name) %>
        <% end %>
    </li>
  <% end %>
</ul>

<%= form_tag(clans_url(:action => params[:action], :world => params[:world]), 
                       :class => ("suggest" if @suggest_limit > 0), 
                       :id=> 'search', :autocomplete => 'off') do 
%>
  <% unless @skipsearch %>
    <%= label_tag :name, Clan.human_attribute_name("name") %>
    <%= text_field_tag(:name, params[:name], tabindex: 1) %>
  <% end %>
  
  <% if @has_recording_period %>
    <%= label_tag :starttime, t("clans.commons.starttime") %>
    <%= date_field_tag :starttime, @params[:starttime], 
                       min: @hole_recording_period.begin, 
                       max: @hole_recording_period.end,
                       placeholder: @hole_recording_period.begin,
                       tabindex: 2 %>
  
    <%= label_tag :endtime, t("clans.commons.endtime") %>
    <%= date_field_tag :endtime, @params[:endtime], 
                       min: @hole_recording_period.begin, 
                       max: @hole_recording_period.end,
                       placeholder: @hole_recording_period.end,
                       tabindex: 3  %>
  <% end %>
  
  <%= submit_tag t "helpers.submit.search", tabindex: 4 %>
  <%= check_box_tag 'loading', 1, false, :disabled => true, :class => 'loading' %>
  <%= label_tag 'loading', loading_markup %>
<% end %>

<p id="recording_period">
  <% if @has_recording_period %>
    <strong><%= t "time.recording_period.caption" %></strong>
    <em><%= t "time.recording_period.from" %></em>
    <%= time_tag(@hole_recording_period.begin, format: :long) %>
    <em><%= t "time.recording_period.till" %></em>
    <%= time_tag(@hole_recording_period.end, format: :long) %>
  <% else %>
    <em><%= t "time.last_update" %></em>
    <%= time_tag @last_update %>
  <% end %>
</p>

<nav class="pages">
  <strong><%= t "helpers.nav.page" %></strong>
  <%= nav_links = nav(@offset, @limit, @scope.size, method(:clans_url)).join.html_safe %>
</nav>

<table class="clans <%= 'single-world' if @worlds.size.eql?(1) %>">
  <caption>
    <%= t "clans.#{action_name}.caption", count: number_with_delimiter(@scope.size), 
                                          shown: number_with_delimiter(@clans.length), 
                                          worlds: @worlds.collect(&:short).to_sentence %>
  </caption>
  <thead>
    <tr>
      <% @attributes.each do |attr| %>
        <th class="<%= attr[:human] %>">
          <% if attr[:db] %>
            <%= link_to @scope.human_attribute_name(attr[:human]), 
                        clans_url(@params.merge({"order" => attr[:human], "by" => @by})),
                        :class => 'sort',
                        :title => t('helpers.links.sort', :col => @scope.human_attribute_name(attr[:human])) %>
          <% else %>
            <%=  @scope.human_attribute_name(attr[:human]) %>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @clans.each_with_index do |clan, i| %>
      <tr class="<%= if i % 2 == 0 then 'odd' else 'even' end %>">
        <%= render :partial => controller.action_name, :locals => {:clan => clan} %>
      </tr>
    <% end %>
  </tbody>
</table>
<nav class="pages">
  <strong><%= t "helpers.nav.page" %></strong>
  <%= nav_links %>
</nav>
<script type="text/javascript">
  var clans_url = <%= clans_url(action: params[:action], format: "json", name: "_name_").to_json.html_safe %>,
      clan_url = <%= clan_url({"world" => '_world_', "id" => '_id_'}).to_json.html_safe %>,
      suggest_limit = <%= @suggest_limit %>,
      worlds = <%= @worlds.to_json(:only => [:id, :short]).html_safe %>;
</script>