<% @title = "#{Clan.model_name.human} #{@clan.name_primary}" %>
<% tag_printable = @clan.tag_with_flags %>
<h1>Clan <%= tag_printable[:tag].html_safe %> (ID: <%= @clan.clan_id %>)</h1>

<dl id="clandetails">
  <dt class="world"><%= Clan.human_attribute_name('world_id') %>:</dt>
  <dd><%= @clan.world.name %></dd>
  
  <dt class="tag"><%= Clan.human_attribute_name('tag') %>:</dt>
  <dd>
    <% if @clan.tag_is?(:notag) %>
      <%= t("clans.commons.notag") %>
    <% else %>
      <%= tag_printable[:tag].html_safe %>
    <% end %>
  </dd>

  <dt class="name"><%= Clan.human_attribute_name('name') %>:</dt>
  <dd><%= @clan.name || t('clans.commons.noname') %></dd>

  <dt class="xp_stat sum"><%= t '.xp_stat.sum' %>:</dt>
  <dd><%= number_with_delimiter @clan.sum_experience %> XP</dd>

  <dt class="xp_stat avg"><%= t '.xp_stat.avg' %>:</dt>
  <dd><%= number_with_delimiter(@members.average(:experience)) %> XP</dd>

  <dt class="xp_stat min"><%= t '.xp_stat.min' %>:</dt>
  <dd><%= member_summary(@xp_min_member, @clan) %></dd>

  <dt class="xp_stat max"><%= t '.xp_stat.max' %>:</dt>
  <dd><%= member_summary(@xp_max_member, @clan) %></dd>
  
  <dt class="url profile"><%= t 'clans.urls.profile' %>:</dt>
  <dd><%= link_to @clan.profile_url, @clan.profile_url, :target => '_blank' %></dd>
  
  <dt class="url rank"><%= t 'clans.urls.rank' %>:</dt>
  <dd><%= link_to @clan.rank_url, @clan.rank_url, :target => '_blank' %></dd>
  
  <dt class="leader"><%= Clan.human_attribute_name('leader_id') %>:</dt>
  <dd>
    <% if @clan.leader %>
      <%= member_summary(@clan.leader, @clan) %>
    <% else %>
      <%= t 'clans.commons.noleader' %>
    <% end %>
  </dd>
  
  <dt class="coleader"><%= Clan.human_attribute_name('coleader_id') %>:</dt>
  <dd>
    <% if @clan.coleader %>
      <%= member_summary(@clan.coleader, @clan) %>
    <% else %>
      <%= t 'clans.commons.nocoleader' %>
    <% end %>
  </dd>
  
  <dt class="members">
    <%= t 'clans.commons.members', :count => @members.length %>: 
    [<a  href="javascript: ;" data-toggle-for="members"><%= t "helpers.toggle.show" %></a>]
  </dt>
  <dd>
    <ul id="members">
      <% @members.each do |member| %>
        <li><%= member_summary(member, @clan) %></li>
      <% end %>
    </ul>
  </dd>
</dl>
<h2><%= t ".changes.head" %></h2>
<h3>
  <%= t ".changes.tag.human" %>
  <% if @changes[:tag].length > 0 %>
    [<a href="javascript: ;" data-toggle-for="<%= @changes[:tag].model.table_name %>">
      <%= t "helpers.toggle.show" %>
     </a>]
  <% end %>
</h3>
<p>
  <%= @changes[:tag].human_attribute_name("count", :count => @changes[:tag].length) %>
  <%= ':' if @changes[:tag].length > 0 %>
</p>
<ul id="<%= @changes[:tag].model.table_name %>" class="changes">
  <% @changes[:tag].each do |change| %>
    <li>
      <%= t ".changes.tag.message", :old => change.tag_old, :new => change.tag_new %>,
      <%= time_tag change.created_at.to_date, :format => :long %>
    </li>
  <% end %>
</ul>
<h3>
  <%= t ".changes.name.human" %>
  <% if @changes[:name].length > 0 %>
    [<a href="javascript: ;" data-toggle-for="<%= @changes[:name].model.table_name %>">
      <%= t "helpers.toggle.show" %>
     </a>]
  <% end %>
</h3>
<p>
  <%= @changes[:name].human_attribute_name("count", :count => @changes[:name].length) %>
  <%= ':' if @changes[:name].length > 0 %>
</p>
<ul id="<%= @changes[:name].model.table_name %>" class="changes">
  <% @changes[:name].each do |change| %>
    <li>
      <%= t ".changes.name.message", :old => change.name_old, :new => change.name_new %>,
      <%= time_tag change.created_at.to_date, :format => :long %>
    </li>
  <% end %>
</ul>
<h3>
  <%= t ".changes.leader.human" %>
  <% if @changes[:leader].length > 0 %>
    [<a href="javascript: ;" data-toggle-for="<%= @changes[:leader].model.table_name %>">
      <%= t "helpers.toggle.show" %>
     </a>]
  <% end %>
</h3>
<p>
  <%= @changes[:leader].human_attribute_name("count", :count => @changes[:leader].length) %>
  <%= ':' if @changes[:leader].length > 0 %>
</p>
<ul id="<%= @changes[:leader].model.table_name %>" class="changes">
  <% @changes[:leader].each do |change| %>
    <li>
      <%= link_to_user_or_del(change.leader_old, change.leader_id_old, @clan.world.short) %>
      =>
      <%= link_to_user_or_del(change.leader_old, change.leader_id_old, @clan.world.short) %>,
      <%= time_tag change.created_at.to_date, :format => :long %>
    </li>
  <% end %>
</ul>
<h3>
  <%= t ".changes.coleader.human" %>
  <% if @changes[:coleader].length > 0 %>
    [<a href="javascript: ;" data-toggle-for="<%= @changes[:coleader].model.table_name %>">
      <%= t "helpers.toggle.show" %>
     </a>]
  <% end %>
</h3>
<p>
  <%= @changes[:coleader].human_attribute_name("count", :count => @changes[:coleader].length) %>
  <%= ':' if @changes[:coleader].length > 0 %>
</p>
<ul id="<%= @changes[:coleader].model.table_name %>" class="changes">
  <% @changes[:coleader].each do |change| %>
    <li>
      <%= link_to_user_or_del(change.coleader_old, change.coleader_id_old, @clan.world.short) %>
      =>
      <%= link_to_user_or_del(change.coleader_new, change.coleader_id_new, @clan.world.short) %>,
      <%= time_tag change.created_at.to_date, :format => :long %>
    </li>
  <% end %>
</ul>
<h3>
  <%= t ".changes.adds.human" %>
  <% if @changes[:adds].length > 0 %>
    [<a href="javascript: ;" data-toggle-for="clan_adds">
      <%= t "helpers.toggle.show" %>
     </a>]
  <% end %>
</h3>
<p>
  <%= t ".changes.adds.message", :count => @changes[:adds].length %>
  <%= ':' if @changes[:adds].length > 0 %>
</p>
<ul id="clan_adds" class="changes">
  <% @changes[:adds].each do |change| %>
    <li>
      <%= link_to_user_or_del(change.user, change.user_id, @clan.world.short, :name) %>
      <%= time_tag change.created_at.to_date, :format => :long %>
    </li>
  <% end %>
</ul>
<h3>
  <%= t ".changes.outs.human" %>
  <% if @changes[:outs].length > 0 %>
    [<a href="javascript: ;" data-toggle-for="clan_outs">
      <%= t "helpers.toggle.show" %>
     </a>]
  <% end %>
</h3>
<p>
  <%= t ".changes.outs.message", :count => @changes[:outs].length %>
  <%= ':' if @changes[:outs].length > 0 %>
</p>
<ul id="clan_outs" class="changes">
  <% @changes[:outs].each do |change| %>
    <li>
      <%= link_to_user_or_del(change.user, change.user_id, @clan.world.short, :name) %>
      <%= time_tag change.created_at.to_date, :format => :long %>
    </li>
  <% end %>
</ul>
<%= link_to_back %>