<h1><%= t ".heading" %></h1>

<h2><%= t ".thanks.heading" %></h2>
<p><%= t ".thanks.text" %></p>

<h2><%= t ".impressum.heading" %></h2>
<p><%= t ".impressum.text" %></p>

<h2><%= t ".analytics.service" %></h2>
<p><%= t ".analytics.text" %></p>

<p>
  <%= t(".contact.text") %>
  <%= link_to t(".contact.link"), contact_url %>
</p>