<% @title = "FWRails" %>
<h1><%= News.model_name.human %></h1>

<% @news.each do |news| %>
  <% news.max_content_summary_count = 40 %>
  <h2 class="news heading">
    <%= news.heading %>
    <%= news_action_bar(news) if current_member.try(:developer?) %>
  </h2>
  <p class="news publish_at">
    <em><%= News.human_attribute_name("publish_at") %></em>
    <%= time_tag news.publish_at.to_date %>
  </p>
  <div class="news content_summary simple_format long_text">
    <%= news_format(news.content_summary) %>
    <%= link_to t(".read_further"), news, id: "read_further" if news.content_summarized? %>
  </div>
  
<% end %>