<h1><%= t ".head" %></h1>
<p><%= t "achievements.common.dump_info" %></p>
<h2><%= t "achievements.common.worlds" %></h2>
<p><%= t "achievements.common.change_world" %>:</p>
<ul class="worlds" data-fallback_url="1">
  <li>
    <%= link_to t("achievements.common.worlds_all"), 
                achievements_rank_url(@params.merge({:world => nil})),
                data: {world: ''}%>
  </li>
  <li>
    <%= link_to achievements_rank_url(@params.merge({world: "!W1", page: 1})), 
          class: ["tooltip"], data: {world: "!W1"} do %>
      <%= "!W1" %>
      <%= tooltip_markup content_tag(:strong, t("achievements.common.not_testworld")) %>
    <% end %>
  </li>
  <% @all_worlds.each do |world| %>
    <li>
      <%= link_to achievements_rank_url(@params.merge({world: world.short, page: 1})), 
            class: ["tooltip"], data: {world: world.short} do %>
        <%= world.short %>
        <%= tooltip_markup content_tag(:strong, world.localized_name) %>
      <% end %>
    </li>
  <% end %>
</ul>
<h2><%= t ".achiev_groups.head" %></h2>
<p><%= t ".achiev_groups.message" %></p>
<ul id="achiev_groups">
  <% @achiev_groups.each do |achievement| %>
    <li data-container-for="<%= "achiev_group_#{achievement.group}" %>">
      <%= image_tag("achievements/#{achievement.gfx_file}",
                    :alt => achievement.group_name,
                    :class => "ui-draggable",
                    :id => "achiev_group_#{achievement.group}",
                    :title => achievement.group_name)
                   %>
    </li>
  <% end %>
</ul>
<h2><%= t ".users" %></h2>

<p id="permalink" class="no_text">
    <em><%= t ".current_link" %></em>
    <%= link_to achievements_rank_url(@params), 
                achievements_rank_url(@params), 
                :data => {template: achievements_rank_url(@params.merge(ids: '_ids_'))} %>
</p>
<p id="last_update">
  <em><%= t "time.last_update" %></em>:
  <%= time_tag @last_update %>
</p>
<nav class="pages" data-fallback_url="2">
  <strong><%= t "helpers.nav.page" %></strong>
  <%= nav_links = nav(@offset, @limit, @scope.size, method(:achievements_rank_url)).join.html_safe %>
</nav>

<table id="users" class="<%= "single-world" if @worlds.length.eql?(1) %>">
  <caption>
    <%= t '.caption', count: number_with_delimiter(@scope.size),
                      shown: number_with_delimiter(@users.length),
                      worlds: @worlds.collect(&:short).to_sentence %>
  </caption>
  <thead data-fallback_url="0">
    <tr>
      <th class="user_id" data-order="user_id">
        <%= t('.attributes.user_id') %>
      </th>
      <% @achievements.each do |achievement| %>
        <th colspan="2">
        <div data-container-for="<%= "achiev_group_#{achievement.group}" %>" class="position_on_table_element">
          <%= image_tag("achievements/#{achievement.gfx_file}", 
                        :alt => achievement.group_name, 
                        :class => "ui-draggable",
                        :id => "achiev_group_#{achievement.group}",
                        :title => achievement.group_name) %>
          <%= link_to '', 
                      achievements_rank_url(@params.merge({:order => achievement.group, :by => @by, :page => 1})),
                      :class => 'sort no-content',
                      :data => {order: achievement.group},
                      :title => t("helpers.links.sort", :col => achievement.group_name) %>
        </div>
        </th>
      <% end %>
      <th class="count">
        <%= link_to t('.attributes.count'),
                    achievements_rank_url(@params.merge({:order => 'count', :by => @by, :page => 1})),
                    :class => 'sort',
                    :data => {order: 'count'},
                    :title => t("helpers.links.sort", :col => UsersAchievementsCache.human_attribute_name('count')) %>
       </th>
      <th class="reward">
        <%= link_to t('.attributes.reward_collected'),
                    achievements_rank_url(@params.merge({:order => 'reward_collected', :by => @by, :page => 1})),
                    :class => 'sort',
                    :data => {order: 'reward_collected'},
                    :title => t("helpers.links.sort", :col => UsersAchievementsCache.human_attribute_name('reward_collected')) %>
      </th>
      <th class="world">
        <%= t('.attributes.world_id') %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user_cache| %>
    <tr class="user" data-user="<%= user_cache.user.to_param %>">
      <td class="user_id">
        <% if user_cache.user.nil? %>
          <del><%= user_cache.user_id %></del>
        <% else %>
          <%= link_to user_cache.user.name, user_url(:name => user_cache.user.name, :world => user_cache.world.short) %>
        <% end %>
      </td>
      <% @achievements.each do |achievement| %>
        <% user_achievement = @users_achievements[user_cache.to_param].select{|a| a.achievement_id == achievement.achievement_id}[0] %>
        <td class="achiev_group progress" data-achievement_id="<%= achievement.achievement_id %>">
          <%= user_achievement.nil? ? '-' : number_with_delimiter(user_achievement.progress)  %>
        </td>
        <td class="achiev_group stage" data-achievement_id="<%= achievement.achievement_id %>">
          <%= user_achievement.nil? ? '-' : number_with_delimiter(user_achievement.stage) %>
      <% end %>
      <td class="count"><%= number_with_delimiter user_cache.count %></td>
      <td class="reward"><%= number_with_delimiter user_cache.reward_collected %></td>
      <td class="world"><%= user_cache.world.number %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<nav class="pages" data-fallback_url="2">
  <strong><%= t "helpers.nav.page" %></strong>
  <%= nav_links %>
</nav>
<script type="text/javascript">
  var achievements_group_progress_url = <%= achievements_group_progress_url(:format => 'json',
                                                                            :group => '_group_', 
                                                                            :users => '_users_').to_json.html_safe %>,
      achievements_rank_url = <%= achievements_rank_url(@params.merge(ids: '_ids_')).to_json.html_safe %>,
      fallback_urls = <%= [
        {'replace' => 'order', 
         'href' => achievements_rank_url(@params.merge({:order => '_order_', :by => @by, :ids => '_ids_', :page => 1}))},
        {'replace' => 'world', 
         'href' => achievements_rank_url(@params.merge({:world => '_world_', :ids => '_ids_', :page => 1}))},
        {'replace' => 'page', 
         'href' => achievements_rank_url(@params.merge({:page => '_page_', :ids => '_ids_',}))}
      ].to_json.html_safe %>,
      users_nav_url = <%= achievements_rank_url(@params.merge({:page => '_page_', :by => @by, :ids => '_ids_'})).to_json.html_safe %>;
</script>