<!DOCTYPE html>
<html lang="<%= @locale %>">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <title><%= @title or "#{t("#{controller.controller_name}.human")}: \
                        #{t("#{controller.controller_name}.#{controller.action_name}.human")}" %></title>
  <%= stylesheet_link_tag    "application" %>
  <% @stylesheets.each do |stylesheet| %>
    <%= stylesheet_link_tag stylesheet %>
  <% end unless @stylesheets.nil? %>
  
  <%= javascript_include_tag "application" %>
  <% @javascripts.each do |javascript| %>
    <%= javascript_include_tag javascript %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= auto_discovery_link_tag :atom, "/news" %>
  <%= auto_discovery_link_tag :rss, "/news.rss" %>
</head>
<body>
  <header>
    <nav>
      <ul id="controllers">
        <li><%= link_to 'FWRails', root_url, :class => 'page_logo' %></li>
        <% @controllers.each do |controller_name| %>
          <li  class="<%= "active" if controller_name == controller.controller_name %>">
            <%= link_to t("human", :scope => controller_name), 
                        "#nav-#{controller_name}" %>
            <span class="anchor" id="nav-<%= controller_name %>"></span>
            <ul class="subs">
                <%= render :partial => "#{controller_name}/actions" %>
            </ul>
          </li>
        <% end %>
        <li><%= link_to t("statistics.human"), url_for(:controller => '/statistics') %></li>
      </ul>
    </nav>
    <nav id="locales">
      <ul>
        <% @locales.each do |locale| %>
          <li>
            <%= link_to locale, 
                        url_for(params.merge({:subdomain => locale})), :data => {:locale => locale},
                        :title => t('application.locale.change', :lang => t("application.locale.#{locale}")) %>
          </li>
        <% end %>
      </ul>
    </nav>
    
    <nav id="member_panel">
      <% if member_signed_in? %>
        <%= link_to "logout", destroy_member_session_path, method: :delete, id: "logout" %>
      <% end %>
    </nav>
  </header>
  <div id="wrapper">
    <section id="yield">
      <% flash.each do |name, msg| %>
        <%= content_tag :p, msg, class: ['flash', name] %>
      <% end -%>
      <%= yield %>
    </section>
    <% if params[:hide_spotlight].blank? %>
    <section id="spotlight">
      <h1><%= t "spotlights.heading" %></h1>
      <%= link_to t("spotlights.close"), params.merge(hide_spotlight: 1), title: t("spotlights.close") %>
      <%= check_box_tag "loading_spotlights", 1, true, :disabled => true, :class => 'loading' %>
      <%= label_tag "loading_spotlights", loading_markup %>
      
      <% @spotlights.each do |spotlight| %>
        <h2><%= t "spotlights.#{spotlight}.heading" %></h2>
        <p class="spotlight <%= spotlight %>"></p>
      <% end unless @spotlights.nil? %>
    </section>
    <% end %>
  </div>
  <footer>
    <%= link_to t("home.about.link_text"), about_url %>
    <%= link_to t("home.dumps.link_text"), dumps_url %>
    <%= link_to t("misc.links.freewar"), freewar_url(@locale), target: :blank %>
    <%= link_to t("misc.links.fwwiki"), wiki_url('', @locale), target: :blank %>
    <%= link_to t("misc.links.snigg"), "http://snigg.fwtools.de", target: :blank %>
    <%= link_to t("misc.links.fwshop"), "http://fwshop.traced.net", target: :blank %>
  </footer>
  <script type="text/javascript">
      var params = <%= params.to_json.html_safe %>,
          spotlight_urls = <%= {
            spotlights: spotlights_url(format: "json"),
            clan: clan_url("*clan_id*", "*world.short*"),
            user: user_url("*name*", "*world.short*")
          }.to_json.html_safe %>;
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      <%= render template: "analytics/#{ANALYTICS[:service]}.js" if ANALYTICS[:service] %>
  </script>
</body>
</html>